{% load static %}

<!--Main Wrapper-->
<div class="wrapper">
    <!-- Header Start -->
    <header id="header">
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="logo">
                            <figure>

                                <!-- Redirect to home.html -->
                                <a href="{% url 'home' %}" class="light-logo">
                                    <img src="{% static 'extra-images/main-logo.png' %}" alt="FoodEaze" width="200px">
                                </a>
                            </figure>
                        </div>
                        
                        <!-- remove hamburger menu -->
                        
                        <!-- add margin left 5 | ml-5 -->
                        <div class="main-location ml-5">
                            <ul>
                                <li class="location-has-children choose-location">
                                    <form action="#">
                                        <input type="text" value="" name="location" placeholder="Enter your delivery location" autocomplete="off">
                                        <span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="login-option">

                            <!-- A condition to manage the available options for users prior to or following login. -->
                            {% if user.is_authenticated %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}">My Account</a>
                            <a class="cs-color cs-popup-joinus-btn login-popup text-danger" data-target="#sign-in" href="{% url 'logout' %}">Logout</a>

                            {% else %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in" href="{% url 'login' %}">Login</a> / 

                                <!-- Get the url from accounts/urls.py -->
                                <!-- Setup the url for Register/Register Merchant Button -->
                               <span><a href="{% url 'registerCustomer'%}" class="cs-color cs-popup-joinus-btn login-popup ml-0" >Register</a></span>
                            <a class="get-start-btn" href="{% url 'registerMerchant' %}">Register as Merchant </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->